<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <title>User Login</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <button type="button" class="btn btn-dark"><a  style="color: cornsilk;" href="http://localhost:4000/signup">Signup</a> </button>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center">Login</h2>
        <div class="row text-white">
            <div class="col-lg-6 col-sm-10 mx-auto">
                <h3>Login</h3>
                <form class="justify-content-center" action="/login" method='POST'>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="Email" 
                        placeholder="Email" required value={{Email}} >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"  placeholder="Password" required value={{password}}>
                    </div>
                    <button type="submit" class="btn btn-success mt-3">Login</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>